# Configuration file for Redmine
# 
# Each environment has its own configuration options.  If you are only
# running in production, you only need to edit the production block.
# 
# Settings that are common to all environments can be placed in the
# 'defaults' section.  For example:
#
# defaults:
#   email_delivery:
#     delivery_method: :smtp
#
# production:
#   email_delivery:
#     smtp_settings:
#       address: smtp.example.net
#       port: 25
#
# development:
#   email_delivery:
#     delivery_method: :test
#
# More examples of configuration can be found here:
# https://www.redmine.org/projects/redmine/wiki/EmailConfiguration

defaults:
  # Outgoing emails configuration
  email_delivery:
    delivery_method: :smtp

production:
  email_delivery:
    default_options:
      from: <%= ENV['EMAIL_FROM'] %>
    delivery_method: :smtp
    smtp_settings:
      address: <%= ENV['SMTP_ADDRESS'] %>
      port: <%= ENV['SMTP_PORT'].to_i %>
      domain: <%= ENV['SMTP_DOMAIN'] %>
      authentication: :login
      user_name: <%= ENV['SMTP_USER_NAME'] %>
      password: <%= ENV['SMTP_PASSWORD'] %>
      enable_starttls_auto: true
      openssl_verify_mode: 'none'
      read_timeout: 300
      open_timeout: 300
      tls: false

development:
  email_delivery:
    default_options:
      from: <%= ENV['EMAIL_FROM'] %>
    delivery_method: :smtp
    smtp_settings:
      address: <%= ENV['SMTP_ADDRESS'] %>
      port: <%= ENV['SMTP_PORT'].to_i %>
      domain: <%= ENV['SMTP_DOMAIN'] %>
      authentication: :login
      user_name: <%= ENV['SMTP_USER_NAME'] %>
      password: <%= ENV['SMTP_PASSWORD'] %>
      enable_starttls_auto: true
      openssl_verify_mode: 'none'
      read_timeout: 300
      open_timeout: 300
      tls: false

test:
  email_delivery:
    delivery_method: :test
